<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="container">

<h2> <button class="btn btn-primary" (click)="getUserList()">GetUsers</button> </h2>
<p> Users found : {{searchCount}} </p>

<md-list *ngIf="searchResult" >
   <h3 md-subheader>Users</h3>
   <md-list-item *ngFor="let user of searchResult">
      <img md-list-avatar src= {{user.avatar_url}} >
      <h4 md-line> {{user.firstName}}, {{user.lastName}}  </h4>
      <h4 md-line> {{user.email}} </h4>
   </md-list-item>
</md-list>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" placeholder="Jhon" name="firstName" ngModel>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" placeholder="Doe" name="lastName" ngModel>
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" id="email" placeholder="jhondoe@abc.com" name="email" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
